<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktif Oyuncular</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Aktif Oyuncular</h1>
    <ul>
        <% characters.forEach(character => { %>
            <li><a href="/characters/<%= character._id %>"><%= character.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>